// Importando arquivos
@import "variaveis-e-mixins";
@import "introducao";
@import "produtos";
@import "sobre";
@import "contato";
@import "footer";

// Reset
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Montserrat", sans-serif;
}
img {
  max-width: 100%;
}

.container {
  @include container;
  @include d(tablet) {
    max-width: 768px;
  }
  @include d(mobile) {
    max-width: 340px;
  }
}

// Header
.header {
  width: 100%;
  padding: 40px 0;
  nav ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    li a {
      padding: 10px 20px;
      text-decoration: none;
      @include tipo-2(16);
    }
  }
}
