// Importando arquivos
@import "variaveis-e-mixins";

// Reset
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Montserrat", sans-serif;
}
img {
  max-width: 100%;
}

.container {
  @include container;
  @include d(tablet) {
    max-width: 768px;
  }
  @include d(mobile) {
    max-width: 340px;
  }
}

// Header
.header {
  width: 100%;
  padding: 40px 0;
  nav ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    li a {
      padding: 10px 20px;
      text-decoration: none;
      @include tipo-2(16);
    }
  }
}

// Introdução
.introducao {
  @include flex;
  margin-bottom: 270px;
  @include d(tablet) {
    margin-bottom: 180px;
  }
  @include d(mobile) {
    margin-bottom: 120px;
  }
}

.bg-rosa {
  background: url(../img/bg-rosa.svg) no-repeat center;
  width: 1090px;
  height: 686px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.textos-intro {
  h1 {
    @include tipo-1(120);
    @include d(mobile) {
      @include tipo-1(72);
    }
  }
  p {
    @include tipo-1(16);
  }
  button {
    margin-top: 25px;
    padding: 10px 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: $cor-primaria;
    @include tipo-1(16);
    @include d(tablet) {
      border: 2px solid $cor-branca;
    }
    @include d(mobile) {
      border: 2px solid $cor-branca;
    }
  }
}

.img-intro {
  width: 500px;
  position: relative;
  @include d(tablet) {
    margin-top: 50px;
  }
  @include d(mobile) {
    margin-top: 50px;
    width: 300px;
  }
  .retrato {
    border: 20px solid $cor-branca;
    width: 460px;
    height: 365px;
    position: absolute;
    top: -25px;
    right: 25px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.2));
    @include d(mobile) {
      display: none;
    }
  }
}

// Produtos
.produtos {
  margin-bottom: 160px;
  h2 {
    @include tipo-1(42);
    text-align: center;
    margin-bottom: 25px;
  }
  .descricao-produtos {
    @include tipo-1(16);
    text-align: center;
    margin-bottom: 100px;
  }
}

.boxs-produtos {
  @include flex;
  @include d(tablet) {
    justify-content: center;
  }
  @include d(mobile) {
    justify-content: center;
  }
}

.box {
  width: 270px;
  height: 296px;
  padding: 125px 20px;
  border-radius: 50px;
  text-align: center;
  margin-bottom: 60px;
  cursor: pointer;
  @include d(tablet) {
    margin: 20px;
  }
  p {
    @include tipo-1(32);
    color: $cor-branca;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.todos {
  background: $cor-primaria url("../img/bolo-1.png") no-repeat center;
}

.casamento {
  background: $cor-secundaria url("../img/bolo-2.png") no-repeat center;
}

.homens {
  background: $cor-terciaria url("../img/bolo-3.png") no-repeat center;
}

.criancas {
  background: $cor-terciaria url("../img/bolo-4.png") no-repeat center;
}

.mulheres {
  background: $cor-primaria url("../img/bolo-5.png") no-repeat center -15px;
}

.sobremesas {
  background: $cor-secundaria url("../img/bolo-6.png") no-repeat center;
}

// Sobre
.sobre {
  @include flex;
  margin-bottom: 180px;
  @include d(mobile) {
    margin-bottom: 120px;
  }
  p {
    @include tipo-1(16);
    max-width: 500px;
    margin-top: 120px;
    @include d(tablet) {
      margin-top: 0;
    }
    @include d(mobile) {
      margin-top: 0;
    }
  }
}

.box-foto {
  width: 385px;
  height: 400px;
  background: $cor-secundaria;
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 150px;
  @include d(tablet) {
    margin-bottom: 40px;
  }
  @include d(mobile) {
    width: 205px;
    height: 300px;
    margin-bottom: 40px;
  }
  h2 {
    @include tipo-1(42);
    position: absolute;
    right: -150px;
    top: 10px;
    @include d(mobile) {
      @include tipo-1(32);
      right: -110px;
    }
    span {
      color: $cor-primaria;
    }
  }
  img {
    position: absolute;
    bottom: 0;
  }
}

.descricao-sobre {
  h2 {
    @include tipo-1(42);
    margin-bottom: 45px;
    @include d(tablet) {
      margin-top: 40px;
      margin-bottom: 15px;
    }
    @include d(mobile) {
      margin-top: 30px;
      margin-bottom: 15px;
    }
    span {
      color: $cor-terciaria;
    }
  }
  p {
    margin: 0;
    @include d(tablet) {
      margin-bottom: 25px;
    }
    @include d(mobile) {
      margin-bottom: 35px;
    }
  }
}

.box-foto-cake {
  width: 400px;
  height: 400px;
  background: $cor-primaria;
  padding: 75px 74px;
}

// Contato
.contato {
  margin-bottom: 120px;
  h2 {
    @include tipo-1(42);
    text-align: center;
    margin-bottom: 80px;
  }
  form {
    @include flex;
    max-width: 100%;
    width: 480px;
    flex-direction: column;
    align-items: flex-start;
    label {
      @include tipo-2(20);
      margin-bottom: 5px;
      &::before {
        content: url("../img/form-cake.svg");
        width: 19px;
        height: 21px;
        margin-right: 10px;
      }
    }
    input {
      @include tipo-1(16);
      background: $cor-terciaria;
      width: 100%;
      height: 40px;
      padding: 20px 20px;
      margin-bottom: 25px;
      outline: none;
      border: none;
      border-radius: 10px;
    }
    textarea {
      font-size: 1.25em;
      color: $cor-textos;
      background: $cor-terciaria;
      width: 100%;
      padding: 20px 20px;
      resize: none;
      outline: none;
      border: none;
      border-radius: 10px;
    }
    button {
      margin-top: 25px;
      padding: 10px 60px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      background: $cor-terciaria;
      @include tipo-2(20);
    }
  }
}

.box-form {
  @include flex;
}

.img-contato img {
  width: 450px;
  @include d(tablet) {
    width: 200px;
  }
  @include d(mobile) {
    display: none;
  }
}

// Footer
.footer {
  width: 100%;
  height: 100px;
  background: $cor-primaria;
  @include d(mobile) {
    height: auto;
  }
}

.base-footer {
  @include flex;
  padding-top: 30px;
  p {
    @include tipo-1(16);
    line-height: 2;
    a {
      text-decoration: none;
      color: $cor-textos;
      font-weight: bold;
    }
  }
}

.redes-sociais {
  @include d(mobile) {
    margin: 20px 0;
  }
  a {
    padding: 10px;
  }
  img {
    width: 40px;
  }
}
